/* header */
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#11c5c9;
    padding:15px 40px;
  }
  
  .nav ul{
    display:flex;
    list-style:none;
    gap:30px;
    margin:0;
    padding:0;
  }
  
  .nav li{
    cursor:pointer;
  }